header {
    padding: 10px 0px;
    .flex-group {
        display: flex;
        justify-content: space-between;
        .brand {
            img {
                width: 60px;
                height: 60px;
            }
        }
    }
    .menu{
        ul{
            display: flex;
            li{
                list-style: none;
                padding-left: 15px;
            }
        }
    }
}